extends layout

block content
  .container    
    h1.display-1.text-primary.text-shadow.text-center Sign Up
    - if (typeof errorMsg === 'string')
        .alert.alert-warning.d-flex.align-items-center(role='alert')
          svg.bi.bi-exclamation-triangle-fill.flex-shrink-0.me-2(xmlns="http://www.w3.org/2000/svg", width="24", height="24", fill="currentColor", viewBox="0 0 16 16", role="img", aria-label="Warning:")
            path(d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z")
          div= errorMsg
    .card.border-primary.my-5.mx-lg-5.pb-5.shadow
      .card-header.mb-3.text-muted.text-center Sign up Staff 
      .card-body
        form.row.g-3.align-items-center(method='post', action='/signup', auto-complete='on')
          .col-md-8.offset-md-2.col-lg-4.offset-lg-4
            .d-block.px-2.mb-3
              label.visually-hidden(for='username')
              .input-group
                .input-group-text 🪪
                input.form-control#username(type='text', placeholder='Username', name='username', required)
            .d-block.px-2.mb-3
              label.visually-hidden(for='firstname')
              .input-group
                input.form-control#firstname(type='text', placeholder='Firstname', name='firstname', required)
            .d-block.px-2.mb-3
              label.visually-hidden(for='lastname')
              .input-group
                input.form-control#lastname(type='text', placeholder='Lastname', name='lastname', required)
            .d-block.px-2.mb-3
              label.visually-hidden(for='email')
              .input-group
                input.form-control#email(type='text', placeholder='Email', name='email', required)
            .d-block.px-2.mb-3 
              label.visually-hidden(for='gender')
              select#gender.form-select.text-muted(name="gender")
                option(value='') Choose gender..
                option(value='m') Male
                option(value='f') Female
            .d-block.px-2.mb-3
              label.visually-hidden(for='phone')
              .input-group
                input.form-control#phone(type='tel', inputmode='tel', placeholder='2348056780923', name='phone', required)
            .d-block.mb-3.px-2
              label.visually-hidden(for='password')
              .input-group
                .input-group-text 🔒
                input.form-control#pass(type='password', placeholder='Password', name='password' required)
            .d-block.mb-3.px-2
              label.visually-hidden(for='confirmPassword')
              .input-group
                .input-group-text 🔏
                input.form-control#confirmPass(type='password', placeholder='Confirm password', name='confirmPassword', required)
            .d-block.px-2.mb-3.mx-5
              label.visually-hidden(for='token')
              .input-group
                input.form-control.form-control-sm#token(type='text', placeholder='Enter admin token', disabled)
            .d-block.px-2.mt-5
                input.btn.btn-primary.w-100(type='submit', value='Sign up')